@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@300;400&display=swap");

.header {
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: aquamarine;
  grid-template-rows: 100px;
  align-items: center;
}

.menuHeader {
  height: 30px;
  background-color: aquamarine;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
a {
  cursor: pointer;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

a:visited:hover {
  font-weight: bolder;
  color: blueviolet;
}
header .imgHeader {
  display: flex;
  position: relative;
  width: 90%;
  margin: 5px;
  height: 75%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.titleHome {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  color: chocolate;
  text-align: center;
}
.paragraphHome {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 16px;
}

.footHome_Span {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.titleArchivo1 {
  color: darkolivegreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 36px;
}
.plantas {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  border: 3px solid #aaa;
  position: relative;
  border-radius: 3px;
  align-items: center;
  background-color: rgba(127, 255, 212, 0.266);
  margin-bottom: 10px;
}

.plantas .grid-item {
  background-size: cover;
  padding: 5px;
  width: 100%;
  height: 150px;
}

.plantas .plant {
  object-fit: cover;
}

.titleArchivo2 {
  color: rgb(154, 235, 13);
  font-family: cursive;
  text-align: center;
  font-size: 42px;
}

.home {
  cursor: pointer;
  padding-top: 10px;
}

.footHome {
  background-color: rgba(127, 255, 212, 0.515);
  min-height: 30px;
  padding: 10px 0px 2px 5px;
}

div i {
  padding-right: 5px;
}
.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
